<ng-container *ngIf="incentive; else noIncentiveAvailable">
  <div class="tracker-container">
    <div [ngStyle]="font" class="tracker-header">
      {{ incentive.name }}
    </div>
    <mat-progress-bar
      [value]="incentive.percentageCompleted"
      class="progress-bar"
    ></mat-progress-bar>
    <div [ngStyle]="font" class="tracker-stats">
      ${{ incentive.amount }} / ${{ incentive.goal }} -
      {{ incentive.percentageCompleted }}%
    </div>
  </div>
</ng-container>

<ng-template #noIncentiveAvailable>
  It seems that there is no incentive to display 😥
</ng-template>
