:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.tracker-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .progress-bar {
    height: 1rem;
    margin: 0.5rem 0;
    width: 120%;
  }

  .tracker-header {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
  }

  .tracker-stats {
    display: flex;
    justify-content: center;
  }
}
