@use "@angular/material" as mat;

$font-family: Inter, "Segoe UI", sans-serif;

$custom-typography: mat.define-typography-config(
  $font-family: $font-family,
);

@include mat.core($custom-typography);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
}

:root {
  --primary-color: #06090f;
}
